@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2e3235;
    padding-top: 10px;
    margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 5px;
    height: 5px;
    padding-top: 10px;
    margin-top: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
